<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>00_MVC-market</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errorpage/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/errorpage/500.html</location>
  </error-page>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.xx.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>Encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.xx.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminPage/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xx.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.xx.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsListServlet</servlet-name>
    <servlet-class>com.xx.controller.GoodsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsListServlet</servlet-name>
    <url-pattern>/AdminPage/goods_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertGoodsServlet</servlet-name>
    <servlet-class>com.xx.controller.InsertGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGoodsServlet</servlet-name>
    <url-pattern>/AdminPage/insertgoods_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.xx.controller.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/AdminPage/deletegoods_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdataGoodsServlet</servlet-name>
    <servlet-class>com.xx.controller.UpdataGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataGoodsServlet</servlet-name>
    <url-pattern>/AdminPage/updatagoods_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadGoodsServlet</servlet-name>
    <servlet-class>com.xx.controller.ReadGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadGoodsServlet</servlet-name>
    <url-pattern>/AdminPage/readgoods_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.xx.controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.xx.controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>